<% include ./partials/header %>


<section class="edit-page">
    <div class="section-container margin-space-top">
        <h1 class="title">Edit <%= project.title %></h1>
        <form action="/portfolio/<%=project._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <label>Project Title</label>
                <input type="text" name="project[title]" value="<%=project.title%>">    
            </div>
            <div>
                <label for="image">Main Image</label>
                <input type="file" id="image" name="image" accept="image/*">    
            </div>
            <div>
                <label>GitHub Link</label>
                <input type="text" name="project[github]" value="<%=project.github%>">    
            </div>
            <div>
                <label>Project Summary<span class="charCounter"><span id="charsUsed">0</span>/140</span></label>
                <textarea id="project-summary" class="textarea-small" name="project[summary]" maxlength="140"><%=project.summary%></textarea>    
            </div>
            <div>
                <label>Post</label>
                <textarea class="textarea-vlarge" name="project[post]"><%=project.post%></textarea>    
            </div>
            <div>
                <button>Update this project!</button>    
            </div>
        </form>
    </div>
    <a class="button go-back" href="/portfolio/<%=project._id%>">← Go back</a>
    
</section>


<script type="text/javascript" src="/scripts/charCount.js"></script>
<% include ./partials/footer %>