<% include ./partials/header %>

<section id="home" class="home">
	<div class="background-image"></div>
	<div class="home-content">
		<h1>Hadiyah Mughal</h1>
		<h1>&lt; Web Developer &gt;</h1>
	</div>
	<a id="portfolio-link2" class="button" href="#portfolio">View Portfolio</a>
</section>

<section id="about" class="about">
	<h1 class="title">About Me</h1>
	<div class="section-container">
		<div class="profile-pic"></div>
		<p>
			Hi there.<br>
			I'm Hadiyah Mughal, a passionate and forward-looking designer and builder of websites. Since graduating 
			Computer Science at Coventry University, I've been sharpening my Web Dev toolkit by learning popular Web 
			Dev languages, experimenting with layout and colours, and overall just trying to create websites 
			primarily focussed around User Experience, because I believe a good UX is what makes a website memorable. 
			I absolutely love everything to do with colours, creativity and imagination, and aspire to use these features 
			to produce eye-catching sites which are easy to interact with and have a natural flow.<br>
			I am always interested in hearing about collaboration and employment opportunities. If you're looking for a 
			Web Developer (or just want to say hello!) then please do <a href="#contact">get in touch via the contact section</a> on this site 
			or by emailing me directly at <strong>hadiyahmughal@gmail.com</strong>. I look forward to hearing from you!
		</p>
			
			<div class="skills-container">
				
				<div class="skill">
					<h4>Frontend Skills</h4>
					<ul class="skills-list">
						<li><em>HTML5</em></li>
						<li><em>CSS3</em> (including Flexbox and Bootstrap)</li>
						<li><em>JavaScript</em> (including DOM manipulation with VanillaJS and jQuery)</li>
						<li><em>Responsive Design</em></li>
						<!--<li><em>Scalable Vector Graphics</em></li>-->
					</ul>
				</div>
				
				<div class="skill">
					<h4>Backend Skills</h4>
					<ul class="skills-list">
						<li><em>JavaScript</em> (including Express.js)</li>
						<li><em>Node.js</em></li>
						<li><em>RESTful Routes</em></li>
						<li><em>Databases</em> (MongoDB)</li>
					</ul>
				</div>
				
			</div>
	</div>
</section>

<section id="portfolio" class="portfolio">
	
	<h1 class="title">Portfolio</h1>
	
	<% if(currentUser){ %>
		<a class="button" href="/portfolio/new">← Add a project</a>
	<% } %>
	
	<div class="section-container">
		
		<% if(project_error && project_error.length>0){ %>
			<div class="flash flash-error flash-margin">
				<%= project_error %>
			</div>
		<% } %>
		<% if(project_success && project_success.length>0){ %>
			<div class="flash flash-success flash-margin">
				<%= project_success %>
			</div>
		<% } %>

		<div class="projects-container">
			
				<% projects.forEach(function(project){ %>
					<div class="indv-project-container">
						<div class="project-info">
							<p><strong><%= project.title %></strong></p>
							<p><%= project.summary %></p>
						</div>
						<!--<img src="<%= project.image %>">-->
						<img class="img" style="background-image:url(<%=project.image%>)">
						<a class="button left-button" href="<%=project.github%>" target="_blank"><i class="fab fa-github"></i><span>     View Code</span></a>
						<a class="button right-button" href="/portfolio/<%=project._id%>"><span>More Info     </span><i class="fas fa-chevron-circle-right"></i></a>
					</div>
				<% }); %>		
		</div>
	</div>
</section>

<section id="contact" class="contact">
	<h1 class="title">Get In Touch</h1>
	<div class="section-container">
		<p>	Say hello via the contact form below, or by emailing me directly at <strong>hadiyahmughal@gmail.com</strong>!</p>
		<% if(email_error && email_error.length>0){ %>
			<div class="flash flash-error flash-margin">
			    <%= email_error %>
			</div>
		<% } %>
		
		<% if(email_success && email_success.length>0){ %>
			<div class="flash flash-success flash-margin">
				<%= email_success %>
			</div>
		<% } %>
	
		<form action="/send" method="POST">
			<div>
				<label>Your Name</label>
				<input type="text" name="email[name]" required>
			</div>
			<div>
				<label>Your Email Address</label>
				<input id="email" type="text" name="email[email]" required>
			</div>
			<div>
				<label>Message</label>
				<textarea class="textarea-large" name="email[message]" required></textarea>
			</div>
			<div>
				<button id="submit">Send Your Message</button>
			</div>
		</form>		
	</div>
</section>

<script type="text/javascript" src="/scripts/index.js"></script>
<% include ./partials/footer %>