<% include ./partials/header %>

<section id="home" class="home">
	<div class="background-image"></div>
	<div class="home-content">
		<h1>Hadiyah Mughal</h1>
		<h1>&lt; Web Developer &gt;</h1>
	</div>
	<a id="portfolio-link2" class="button" href="#portfolio">View Portfolio</a>
</section>

<section id="about" class="about">
	<h1 class="title">About Me</h1>
	<div class="section-container">
		<div class="profile-pic"></div>
		<p>
			Hi there.<br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu  
			fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.<br>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
			rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
		</p>
		
		<div class="skills">
			
			<div class="programming">
				<span class="tooltip">
					<span class="tooltip-text">Programming Languages/ Frameworks</span>
					<i class="fas fa-code"></i>
				</span>
				<ul class="skills-list">
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
				</ul>
			</div>
			
			<div class="personal">
				<span class="tooltip">
					<span class="tooltip-text">Personal Atrributes</span>
					<i class="fas fa-user"></i>
				</span>
				<ul class="skills-list">
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
				</ul>
			</div>
			
			<div class="design">
				<span class="tooltip">
					<span class="tooltip-text">Planning & Design</span>
					<i class="fas fa-paint-brush"></i>
				</span>
				<ul class="skills-list">
					<li>Lorem ipsum</li>
					<li>Lorem ipsum</li>
				</ul>		
			</div>
			
		</div>
	</div>
</section>

<section id="portfolio" class="portfolio">
	<h1 class="title">Portfolio</h1>
	<div class="section-container">
		<% if(project_error && project_error.length>0){ %>
			<div class="flash flash-error flash-margin">
				<%= project_error %>
			</div>
		<% } %>
		<% if(project_success && project_success.length>0){ %>
			<div class="flash flash-success flash-margin">
				<%= project_success %>
			</div>
		<% } %>
		<% if(currentUser){ %>
			<a class="link" href="/portfolio/new">Add a project</a>
		<% } %>
		<div class="projects-container">
			
				<% projects.forEach(function(project){ %>
					<div class="indv-project-container">
						<div class="project-info">
							<p><strong><%= project.title %></strong></p>
							<p><%= project.summary %></p>
						</div>
						<!--<img src="<%= project.image %>">-->
						<img class="img" style="background-image:url(<%=project.image%>)">
						<a class="button left-button" href="<%=project.github%>"><i class="fab fa-github"></i><span>     View Code</span></a>
						<a class="button right-button" href="/portfolio/<%=project._id%>"><span>More Info     </span><i class="fas fa-chevron-circle-right"></i></a>
					</div>
				<% }); %>		
		</div>
	</div>
</section>

<section id="contact" class="contact">
	<h1 class="title">Get In Touch</h1>
	<div class="section-container">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
		<% if(email_error && email_error.length>0){ %>
			<div class="flash flash-error flash-margin">
			    <%= email_error %>
			</div>
		<% } %>
		
		<% if(email_success && email_success.length>0){ %>
			<div class="flash flash-success flash-margin">
				<%= email_success %>
			</div>
		<% } %>
	
		<form action="/send" method="POST">
			<div>
				<label>Your Name</label>
				<input type="text" name="email[name]" required>
			</div>
			<div>
				<label>Your Email Address</label>
				<input id="email" type="text" name="email[email]" required>
			</div>
			<div>
				<label>Message</label>
				<textarea class="textarea-large" name="email[message]" required></textarea>
			</div>
			<div>
				<button id="submit">Send Your Message</button>
			</div>
		</form>		
	</div>
</section>

<script type="text/javascript" src="/scripts/index.js"></script>
<% include ./partials/footer %>