<% include ./partials/header %>
<section class="show-page">
        <% if(project_update_error && project_update_error.length>0){ %>
    		<div class="margin-space-top flash flash-error">
    			<%= project_update_error %>
    		</div>
    	<% } %>
    	<% if(project_update_success && project_update_success.length>0){ %>
    		<div class="margin-space-top flash flash-success">
    			<%= project_update_success %>
    		</div>
    	<% } %>
    <h1 class="margin-space-top"><%=project.title%></h1>
    <p><%=project.summary%></p>
    <p><%=project.post%></p>
    
    <% if(currentUser){ %>
        <div class="editAndDelete">
            <a id="editButton" class="button" href="/portfolio/<%=project._id%>/edit">Edit</a>
            <form id="deleteButton" action="/portfolio/<%=project._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>
    <% } %>
    

</section>

<% include ./partials/footer %>