<% include ./partials/header %>
<section class="show-page">
    <div class="section-container margin-space-top">
                <% if(project_update_error && project_update_error.length>0){ %>
    		<div class="flash flash-error">
    			<%= project_update_error %>
    		</div>
    	<% } %>
    	<% if(project_update_success && project_update_success.length>0){ %>
    		<div class="flash flash-success">
    			<%= project_update_success %>
    		</div>
    	<% } %>
    <h1 class="title"><%=project.title%></h1>
        <p><%=project.summary%></p>
        <p><%=project.post%></p>
    </div>

    
    <% if(currentUser){ %>
        <div class="editAndDelete">
            <a id="editButton" class="button" href="/portfolio/<%=project._id%>/edit">Edit</a>
            <form id="deleteButton" action="/portfolio/<%=project._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>
    <% } %>
    

</section>

<% include ./partials/footer %>